.custom-img {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
h1,
h2,
.custom-text {
  color: #f1c232 !important;
  text-transform: none !important;
}
h1 {
  font-size: 1.25em !important;
}
h2 {
  font-size: 1em !important;
}

p,
li {
  font-size: 0.8em !important;
}
